.helper-nosotros-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.content__nosotros {
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}

.title__nosotros {
  color: var(--brown);
  padding-bottom: 2rem;
  font-size: 22px;
}

.subtitle__nosotros {
  padding: 1rem 0;
  font-size: 17px;
  color: var(--blue);
}

.text__nosotros {
  font-size: 12px;
}

.img--nosotros {
  padding-bottom: 2rem;
}

.button__nosotros {
  padding: 1.2rem 5rem;
  border-radius: 1rem;
  background-color: var(--green);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 17px;
}

.button__nosotros:active {
  transform: scale(0.96);
}

.content__butto--whats-nosotros {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MEDIAQUERIE 900PX*/

@media (min-width: 900px) {
  .helper-nosotros-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 7rem 2rem 7rem 2rem;
  }

  .content__nosotros {
    width: 100%;
    display: flex;
    gap: 5rem;
    flex-direction: row;
  }

  .title__nosotros {
    color: var(--brown);
    padding-bottom: 2rem;
    font-size: 24px;
  }

  .subtitle__nosotros {
    padding: 1rem 0;
    font-size: 20px;
    color: var(--blue);
  }

  .text__nosotros {
    font-size: 15px;
  }
}
