*,
* ::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue-light: #144899;
  --blue: #144899;
  --blue-super-strong: #030f40;
  --brown: #801917;
  --red: #eb1710;
  --green: #3aa156;
  --pink: #dcdcdc;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

/*Reset*/

.nabvar__desktop__socila__media {
  display: none;
}

.logo {
  display: none;
}

.nabvar__desktop__links {
  display: none;
}

.title-caollapse-desktop {
  display: none;
}

.img-collapse-desktop {
  display: none;
}

.information__surgery {
  display: none;
}

/*HEADER*/

.header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
}

.navbar__mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__dropdown {
  display: flex;
  width: 100%;
  justify-content: space-between;
  --img1: scale(1);
  --img2: scale(0);
}

.nav__dropdown:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

.nav--dropdown--container {
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo img";
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo--dropdown {
  width: 110px;
  grid-area: logo;
}

.nav--menu {
  grid-area: img;
  position: relative;
  z-index: 1;
  transform: var(--img1);
}

.nav-icon-secound {
  transform: var(--img2);
}

.nav-icon {
  width: 40px;
  display: block;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--brown);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40%;
  height: 100vh;
  padding: 1rem;
  display: grid;
  align-content: center;
  gap: 4rem;
  overflow-y: auto;
  clip-path: var(--clip, inset(0 0 0 100%));
  transition: clip-path 0.5s;
}

.dropdown--list {
  list-style: none;
}

.dropdown-link {
  color: var(--white);
  text-decoration: none;
}

.dropdown-link:hover {
  border-bottom: 3px solid var(--pink);
  border-radius: 5px;
  padding: 4px 0;
}

.dropdown-span {
  font-size: 1.5rem;
}

/*MAIN*/
.main {
  width: 100%;
}

.helper {
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*front-page*/

.front__page__mobile {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--brown);
}

.helper--front--page {
  padding: 0 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.front--page--container {
  width: 100%;
  display: flex;
  align-items: center;
}

.front--page--container div {
  flex: 1;
}

.front-page-content-copy {
  width: 100%;
}

.logo-front-page {
  width: 90px;
  padding-bottom: 1rem;
}

.title-front-page {
  color: var(--white);
  font-size: 25px;
  line-height: 27px;
}

.subtitle-front-page {
  font-size: 8px;
  color: var(--white);
  font-weight: 300;
  padding-bottom: 2rem;
}

.copy-front-page {
  font-size: 22px;
  line-height: 28px;
  color: var(--white);
  font-weight: 300;
}

.span-front-page {
  font-weight: 600;
}

.img-front-page {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*schedules*/

.schedules__page {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--blue);
}

.schedules-page-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
}

.clock-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.clock-icon {
  width: 30px;
}

.clock-copy {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.schedules-copy {
  color: var(--white);
  font-size: 16px;
}

.schedules-copy-border {
  border-bottom: 2px solid var(--white);
  padding-bottom: 5px;
}

.schedules-copy-padding {
  padding-top: 5px;
}

.span-schedules {
  font-weight: 600;
}

/*Our services*/

.services {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--pink);
  text-align: center;
}

.title-services {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 1rem;
}

.copy-services {
  font-size: 13px;
  color: gray;
  font-weight: 500;
  padding-bottom: 4rem;
}

.services--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-box {
  padding: 2rem;
}

.services--container div {
  background-color: white;
  border-radius: 10px;
  flex: 1;
}

.services--container h3 {
  font-size: 18px;
  padding-bottom: 2rem;
  font-weight: 500;
}

.services--container p {
  font-size: 13px;
  padding-bottom: 5rem;
}

.button-services {
  padding: 1rem 8rem;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
}

/*after__before*/

.after__before {
  width: 100%;
  padding: 4rem 0;
  background-color: var(--brown);
}

.gallery {
  width: 100%;
  display: flex;
  gap: 5px;
  overflow-x: scroll;
}

.gallery div {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  flex: none;
}

.gallery div img {
  width: 100%;
  height: 100%;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backbtn,
#nextbtn {
  width: 30px;
  cursor: pointer;
  margin: 4px;
  transform: rotate(90deg);
  z-index: 0;
}

#nextbtn {
  transform: rotate(270deg);
}

/*partners*/

.partners {
  background-color: var(--pink);
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

.title-partners {
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 4rem;
}

.title-partners-strong {
  font-weight: 800;
}

.img-partnes-contain {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  place-items: center;
  width: 100%;
}

.img-partnes {
  width: 200px;
  object-fit: cover;
}

/*Collapsible*/

.collapsee {
  width: 100%;
}

.collapse--container {
  display: flex;
  flex-direction: column;
}

.img-collapse {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collapse--container div {
  width: 100%;
  flex: 1;
}

#accordion {
  padding-left: 0;
}

#accordion li {
  list-style: none;
  width: 100%;
  border-radius: 5px;
}

#accordion li label {
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--brown);
  color: var(--white);
}

.icon-collapse {
  width: 20px;
}
.copy-collapse {
  padding: 2rem;
  font-size: 13px;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content-collapse {
  max-height: 400px;
}

/*FOOTER*/

.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: var(--blue);
}

.content--footer {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.box-footer {
  width: 100%;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.div-footer {
  display: none;
}

.logo--footer {
  width: 150px;
}

.copy-footer-logo {
  font-size: 14px;
  max-width: 88%;
  color: var(--white);
  text-align: center;
}

.title-footer {
  font-size: 25px;
  color: var(--white);
}

.copy-footer {
  color: var(--white);
  font-size: 17px;
}

.content-footer-redes-sociales {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon-redes {
  width: 30px;
}

/*RESPONSIVE*/

/*MEDIAQUERIE 473PX*/

/*Front-page*/

@media (min-width: 473px) {
  .logo-front-page {
    width: 150px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 25px;
    line-height: 27px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 10px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 2rem;
  }
}

/*MEDIAQUERIE 650PX*/

/*Front-page*/

@media (min-width: 650px) {
  .logo-front-page {
    width: 190px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 30px;
    line-height: 32px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 12px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .copy-front-page {
    font-size: 26px;
    line-height: 28px;
    color: var(--white);
    font-weight: 300;
  }

  .img-front-page {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }
}

/*MEDIAQUERIE 800PX*/

@media (min-width: 800px) {
  /*Navbar*/
  .nav__dropdown {
    display: none;
  }

  .nabvar__desktop__socila__media {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .icon-redes-desktop {
    width: 15px;
  }

  .logo {
    display: block;
    width: 110px;
  }

  .nabvar__desktop__links {
    display: block;
    width: 100%;
    padding: 4rem 0 0 0;
  }

  .nabvar--desktop--links--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nabvar--desktop--links--content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .link-nabvar {
    color: var(--brown);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
  }

  .button-services-nav {
    padding: 6px 2rem;
    background-color: var(--brown);
    font-size: 14px;
    color: var(--white);
    cursor: pointer;
    border-radius: 20px;
  }

  /*Front-page*/
  .logo-front-page {
    width: 210px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 31px;
    line-height: 33px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 13px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .copy-front-page {
    font-size: 28px;
    line-height: 28px;
    color: var(--white);
    font-weight: 300;
  }

  .img-front-page {
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
}

/*MEDIAQUERIE 900PX*/

@media (min-width: 900px) {
  /*Navbar*/
  .logo {
    display: block;
    width: 12 0px;
  }

  .icon-redes-desktop {
    width: 18px;
  }

  .button-services-nav {
    padding: 6px 2rem;
    background-color: var(--brown);
    font-size: 15px;
    color: var(--white);
    cursor: pointer;
    border-radius: 20px;
  }

  .link-nabvar {
    color: var(--brown);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 10px;
  }

  /*Front-page*/
  .img-front-page {
    display: none;
  }

  .front__page__mobile {
    width: 100%;
    padding: 7rem 0;
    background-color: none;
    background-image: url(/Desktop-img/DESKT-20240315T081030Z-001/DESKT/POSTADA-FOTO/WEB_DR_DESKOP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-front-page {
    width: 220px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 31px;
    line-height: 33px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 13px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 2rem;
  }

  .copy-front-page {
    font-size: 28px;
    line-height: 28px;
    color: var(--white);
    font-weight: 300;
  }

  /*schedules*/

  .schedules__page {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--blue);
  }

  .clock--container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .clock--container div {
    flex: 1;
  }

  .schedules-page-title {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
  }

  .clock-box {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .clock-icon {
    width: 40px;
  }

  .clock-copy {
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
  }

  .schedules-copy {
    color: var(--white);
    font-size: 24px;
  }

  .schedules-copy-border {
    border-bottom: 2px solid var(--white);
    padding-bottom: 10px;
  }

  .schedules-copy-padding {
    padding-top: 10px;
  }

  .span-schedules {
    font-weight: 600;
  }

  /*partners*/

  .partners {
    background-color: var(--pink);
    text-align: center;
    padding: 4rem 0;
    width: 100%;
  }

  .title-partners {
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 4rem;
  }

  .title-partners-strong {
    font-weight: 800;
  }

  .img-partnes-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 2rem;
    place-items: center;
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .img-partnes {
    width: 300px;
    object-fit: cover;
  }
}

/*MEDIAQUERIE 1024PX*/

@media (min-width: 1024px) {
  /*Navbar*/
  .logo {
    display: block;
    width: 130px;
  }

  .icon-redes-desktop {
    width: 19px;
  }

  .button-services-nav {
    padding: 6px 2rem;
    background-color: var(--brown);
    font-size: 17px;
    color: var(--white);
    cursor: pointer;
    border-radius: 20px;
  }

  .link-nabvar {
    color: var(--brown);
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 10px;
  }
  /*front-page*/

  .front__page__mobile {
    width: 100%;
    padding: 7rem 0;
    background-color: none;
    background-image: url(/Desktop-img/DESKT-20240315T081030Z-001/DESKT/POSTADA-FOTO/WEB_DR_DESKOP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-front-page {
    width: 230px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 42px;
    line-height: 44px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 13px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 4rem;
  }

  .copy-front-page {
    font-size: 32px;
    line-height: 34px;
    color: var(--white);
    font-weight: 300;
  }

  /*schedules*/

  .schedules-page-title {
    color: var(--white);
    font-size: 26px;
    font-weight: 600;
  }

  .clock-icon {
    width: 50px;
  }

  .clock-copy {
    color: var(--white);
    font-size: 28px;
    font-weight: 600;
  }

  .schedules-copy {
    color: var(--white);
    font-size: 25px;
  }

  /*Our services*/

  .services {
    width: 100%;
    padding: 6rem 0;
    background-color: var(--pink);
    text-align: start;
  }

  .title-services {
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 2rem;
  }

  .copy-services {
    font-size: 17px;
    color: gray;
    font-weight: 500;
    padding-bottom: 4rem;
    max-width: 65%;
  }

  .services--container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .services-box {
    padding: 2rem 0;
  }

  .services--container div {
    background-color: white;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    padding: 1rem;
  }

  .services--container h3 {
    font-size: 20px;
    padding-bottom: 2rem;
    font-weight: 600;
  }

  .services--container p {
    font-size: 15px;
    padding-bottom: 5rem;
  }

  .button-services {
    padding: 1rem 8rem;
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-size: 17px;
    border-radius: 20px;
  }

  /*partners*/

  .partners {
    background-color: var(--pink);
    text-align: center;
    padding: 6rem 0;
    width: 100%;
  }

  .title-partners {
    font-weight: 400;
    font-size: 35px;
    padding-bottom: 4rem;
  }

  .title-partners-strong {
    font-weight: 800;
  }

  .img-partnes-contain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    gap: 2rem;
    place-items: center;
    width: 100%;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .img-partnes {
    width: 35 0px;
    object-fit: cover;
  }

  /*Collapsible*/

  .collapsee {
    width: 100%;
  }

  .collapse--container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .img-collapse {
    display: none;
  }

  .img-collapse-desktop {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .collapse--container--main {
    padding: 5rem 2rem;
    background-color: var(--pink);
  }

  .collapse--container div {
    width: 100%;
    flex: 1;
  }

  .title-caollapse-desktop {
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3rem;
    color: var(--brown);
  }

  #accordion li label {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--brown);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .icon-collapse {
    width: 30px;
  }
  .copy-collapse {
    padding: 2rem;
    font-size: 16px;
  }

  #accordion label + input[type="radio"] {
    display: none;
  }

  #accordion .content-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  #accordion label + input[type="radio"]:checked + .content-collapse {
    max-height: 400px;
  }
}

/*MEDIAQUERIE 1200PX*/

@media (min-width: 1200px) {
  /*Navbar*/
  .logo {
    display: block;
    width: 140px;
  }

  .icon-redes-desktop {
    width: 20px;
  }

  .button-services-nav {
    padding: 6px 2rem;
    background-color: var(--brown);
    font-size: 18px;
    color: var(--white);
    cursor: pointer;
    border-radius: 20px;
  }

  .link-nabvar {
    color: var(--brown);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
  }

  /*front-page*/

  .front__page__mobile {
    width: 100%;
    padding: 9rem 0;
    background-color: none;
    background-image: url(/Desktop-img/DESKT-20240315T081030Z-001/DESKT/POSTADA-FOTO/WEB_DR_DESKOP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo-front-page {
    width: 230px;
    padding-bottom: 3rem;
  }

  .title-front-page {
    color: var(--white);
    font-size: 42px;
    line-height: 44px;
    padding-bottom: 1rem;
  }

  .subtitle-front-page {
    font-size: 13px;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 4rem;
  }

  .copy-front-page {
    font-size: 32px;
    line-height: 34px;
    color: var(--white);
    font-weight: 300;
  }

  /*schedules*/

  .schedules-page-title {
    color: var(--white);
    font-size: 29px;
    font-weight: 700;
  }

  .schedules-page-title:hover {
    color: yellowgreen;
  }

  /*surgery*/

  .information__surgery {
    display: block;
    padding: 6rem 0;
    background-color: var(--white);
  }

  .title-surgery {
    font-size: 25px;
    padding-bottom: 1rem;
  }

  .copy-surgery {
    font-size: 14px;
    padding-bottom: 6rem;
  }

  .surgery--container--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }

  .surgery--content-flex {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .surgery-copy-text {
    font-size: 14px;
  }

  .check-green {
    width: 22px;
  }

  /*FOOTER*/

  .footer {
    width: 100%;
    padding: 2rem 0;
    background-color: var(--blue);
  }

  .content--footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
    gap: 2rem;
  }

  .box-footer {
    width: 100%;
    padding: 1rem;
    display: grid;
    place-items: center;
  }

  .div-footer {
    display: grid;
    place-items: center;
  }

  .logo--footer {
    width: 150px;
    padding-bottom: 2rem;
  }

  .copy-footer-logo {
    font-size: 14px;
    max-width: 88%;
    color: var(--white);
  }

  .title-footer {
    font-size: 18 px;
    color: var(--white);
  }

  .copy-footer {
    color: var(--white);
    font-size: 16px;
  }

  .content-footer-redes-sociales {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .icon-redes {
    width: 30px;
  }
}
