*,
* ::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --blue-light: #144899;
  --blue: #144899;
  --blue-super-strong: #030f40;
  --brown: #801917;
  --red: #eb1710;
  --green: #3aa156;
  --pink: #dcdcdc;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

input {
  border: 0;
  outline: 0;
}

/*Reset*/

.nabvar-desktop-numbers {
  display: none;
}

.nabvar__desktop__socila__media {
  display: none;
}

.nabvar__desktop__links {
  display: none;
}

.logo {
  display: none;
}

/*HEADER*/

.header {
  background-color: var(--white);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem;
}

.navbar__mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__dropdown {
  display: flex;
  width: 100%;
  justify-content: space-between;
  --img1: scale(1);
  --img2: scale(0);
}

.nav__dropdown:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

.nav--dropdown--container {
  width: 100%;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo img";
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.logo--dropdown {
  width: 110px;
  grid-area: logo;
}

.nav--menu {
  grid-area: img;
  position: relative;
  z-index: 1;
  transform: var(--img1);
}

.nav-icon-secound {
  transform: var(--img2);
}

.nav-icon {
  width: 40px;
  display: block;
}

.dropdown {
  position: absolute;
  background-color: var(--brown);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  display: grid;
  align-content: center;
  gap: 10rem;
  overflow-y: auto;
  clip-path: var(--clip, inset(0 0 0 100%));
  transition: clip-path 0.5s;
}

.dropdown--list {
  list-style: none;
}

.dropdown-link {
  color: var(--white);
  text-decoration: none;
}

.dropdown-link:hover {
  border-bottom: 3px solid var(--pink);
  border-radius: 5px;
  padding: 4px 0;
}

.dropdown-span {
  font-size: 1.5rem;
}

/*MAIN*/
.main {
  width: 100%;
}

/*front-page*/

.front__page__mobile {
  width: 100%;
  background-image: url(/Mobile-img/TELEFONO/portada-fotos/11WEB_DR.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.helper--front--page {
  padding: 4rem 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.logo-front-page {
  width: 90px;
  padding-bottom: 1rem;
}

.title-front-page {
  color: var(--white);
  font-size: 25px;
  line-height: 27px;
}

.subtitle-front-page {
  font-size: 8px;
  color: var(--white);
  font-weight: 300;
  padding-bottom: 2rem;
}

.copy-front-page {
  font-size: 22px;
  max-width: 50%;
  line-height: 28px;
  color: var(--white);
  font-weight: 300;
}

.span-front-page {
  font-weight: 600;
}

/*schedules*/

.schedules__page {
  width: 100%;
  background-image: url(/Mobile-img/TELEFONO/portada-fotos/WEB_DRportada-14.png);
}

.helper {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.schedules-page-title {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 2.5rem;
}

.clock-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.clock-icon {
  width: 30px;
}

.clock-copy {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}

.schedules-copy {
  color: var(--white);
  font-size: 16px;
}

.schedules-copy-border {
  border-bottom: 2px solid var(--white);
  padding-bottom: 5px;
}

.schedules-copy-padding {
  padding-top: 5px;
}

.span-schedules {
  font-weight: 600;
}

/*Our services*/

.services {
  background-color: var(--pink);
  text-align: center;
}

.title-services {
  font-size: 25px;
  font-weight: 500;
}

.copy-services {
  font-size: 13px;
  color: gray;
  font-weight: 500;
  padding-bottom: 4rem;
}

.services--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.services-box {
  padding: 2rem;
}

.services--container div {
  background-color: white;
  border-radius: 10px;
  flex: 1;
}

.services--container h3 {
  font-size: 18px;
  padding-bottom: 2rem;
  font-weight: 500;
}

.services--container p {
  font-size: 13px;
  padding-bottom: 5rem;
}

.button-services {
  padding: 1rem 8rem;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .helper--services {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
  }
}
